body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body .container_body {
  background: #F7F7F7;
}

.container_page {
  width: 100%;
  padding: 10px 18px 0;
}

.page-title {
  height: 50px;
  font-size: 1.5rem;
}

div#main_function .function_forms {
    margin-top: 30px;
}

div.form_section_wrap {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

div.form_section {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: solid 1px #CCCCCC;
}

div.form_section .section_title {
    position: relative;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: #666666;
    padding: 0 20px;
    border-bottom: solid 1px #DDDDDD;
}

div.form_section .section_title button.btn_toggle {
    position: absolute;
    width: 28px;
    height: 29px;
    line-height: 29px;
    top: 15px;
    right: 20px;
    margin: 0;
    padding: 0;
    background-image: url(/SalesCube/images/customize/btn_toggle.png);
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px 15px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.input-group-btn>.btn_s {
    position: relative;
}

.btn_s {
  display: inline-block;
  padding: 2px 5px;;
  margin-bottom: 0;
  font-size: 14px; 
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.navbar_icon {
  padding-left: 4px;
}

.navbar {
  background-color: #7e7e7e;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #00affd;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #00c1fb;
}

.dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #00affd;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #00affd;
/*  background-color: #e7e8e8; */
 background-color: #337ab7;
}
.navbar .navbar-toggle {
/*  background-color: #e7e8e8; */
 background-color: #337ab7;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
/*  background-color: #e7e8e8; */
 background-color: #337ab7;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #00affd;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00affd;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00affd;
/*  background-color: #e7e8e8; */
    background-color: #337ab7;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00affd;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00affd;
/*  background-color: #e7e8e8; */
    background-color: #337ab7;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00affd;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00affd;
/*  background-color: #e7e8e8; */
    background-color: #337ab7;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00affd;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00affd;
   background-color: #337ab7;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00affd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #00affd;
  background-color: #337ab7;
}

.copyright{
    text-align:center;
    margin:1.5em auto;
    display:block;
}
.panel-body th{
/*    width:100px; */
    padding-left:0px;
}

.panel-body .form-group{
    margin-top:15px;
}
.registration_height{
/*    height:38px;*/
}
.estimates_egistration{
    width:100%;
}
.estimates_egistration_box1{
    width:45%;
    float:left;
}
.estimates_egistration_box2{
    width:35%;
    margin:0 0 0 20%;
    float:left;
}
.clear {
    clear:both;
}
.sty_right{
    text-align: center;
    font-weight: bold;
    margin:5px 0 0 0;
}
/*備考のtextareaが外部cssに書くときかない 使用していないコード*/
.textarea_note{
    width:378px;
    height:100px;
    margin-top:5px;
    border: solid 1px #cbcbcb;
}
.col_title_right_req {
    margin:6px 0 0 0;
}
.col_contents{
    margin:0 5px 0 5px;
}
.form-control.input-sm.margin_gap{
    margin:0 0 2px 0;
    width:100%;
}
.margin_gap_btn{
    margin:0 0 2px 0;
}
.history_day{
    margin:0 10px 0 10px;
    color:#333;
}
/*伝票情報を入力する表 角丸にするために追加*/
.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-collapse: collapse;
    border-left: 0;
    border-radius: 4px;
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border-right: none;
    border-bottom: none;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dddddd;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
    border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}
.registration_height th{
    background-color:#f5f5f5;
}
.navi_sub{
    background-color:#f5f5f5;
    width:100%;
    margin-top:50px;
    padding:10px
}
.dropdown.style_margin_left{
    margin:0 10px 0 0;
}
/*サブナビタイトル*/
.navi_sub_left{
    width:50%;
    float:left;
}
.navi_sub_right{
    width:15%;
    float:left;
    margin:0 0 0 35%;
}
.btn.btn-primary.btn-sm.regist_del_btn{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
    margin: 0 20px 0 0;
}
.btn.btn-warning.btn-sm.regist_del_btn{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
}
.btn.btn-danger.btn-sm.regist_del_btn{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
}
.btn.btn-success.btn-sm.regist_del_btn{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
}
.btn.btn-default.btn-sm.regist_del_btn{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
}


/*タイトル*/
.title_box{
    width:100%;
}
.title_left{
    width:50%;
    float:left;
}
.title_right{
    width:24%;
    float:left;
    padding:18px 0 0 0;
    margin:0 0 0 26%;
}

/*ステータスボタン*/
.sample input { 
    display: none; 
} 
.sample label{ 
    display: block; 
    float: left; 
    cursor: pointer; 
    width: 70px; 
    margin: 0; 
    padding: 10px 20px; 
    background: #bdc3c7; 
    color: #869198; 
    font-size: 16px; 
    text-align: center; 
    line-height: 1; 
    transition: .2s; 
} 
.sample label:first-of-type{ 
    border-radius: 3px 0 0 3px; 
} 
.sample label:last-of-type{ 
    border-radius: 0 3px 3px 0; 
} 
.sample input[type="radio"]:checked + .switch-estimate { 
    background-color:#5cb85c; 
    color: #fff; 
} 
.sample input[type="radio"]:checked + .switch-orders { 
    background-color:#337ab7; 
    color: #fff; 
} 
.sample input[type="radio"]:checked + .switch-delivery { 
    background-color:#f0ad4e; 
    color: #fff; 
} 
.sample input[type="radio"]:checked + .switch-claim { 
    background-color:#5bc0de; 
    color: #fff; 
} 

/*フッター*/
.footer_company_name{
    text-align:right;
}
.footer .pull-right{
    background-color: #f5f5f5;
    width:100%;
    padding:20px 30px 20px 0;
}
/*得意先名*/
.col_contents_group{
    display: table;
    margin: 0 5px 0 0px;
    width:40%;
}
/* ※赤色指定 */
.required_color{
    color:red;
}

.contents_titile_width{
    width:25%;
}
/*表テーブルの幅合わせ*/
#order_detail_info_wrap{
    margin:10px 0 10px 0;
}

/* 表タイトル幅合わせ */
.order_detail_title1{
    width:5%;
    background-color:#f5f5f5;
}
.order_detail_title2{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title3{
    width:20%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title4{
    width:8%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title5{
    width:7%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title6{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title7{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title8{
     width:8%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title9{
    width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title10{
    width:4%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title11{
    width:20%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title12{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
.order_detail_title13{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
/*表タイトルの上下左右中央に寄せる*/
.order_detail_height_style{
    text-align:center;
    padding:0 0 17px 0;
}
.box_1of1{
    text-align:center;
}
.table_frame{
    border-style: ridge;
    border-color: #dcdcdc;
    border-width: thin;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.label.label-danger.margin_style{
    margin:0 0 0 5px;
}
/*コメント*/
.form-control.input-sm.comment{
    margin: 0px;
    width: 100%;
    height: 60px;
}
.navi_style{
    margin-left:50px;
}
.navi_sub_marginleft{
    margin-left:5px;
}
.note_style{
    width:100%;
    height:50px;
    margin:5px 0 5px 0;
}
.icon_style{
    margin:0 0 0 5px;
}
.icon_style_contents_sub{
    padding:0 0 0 5px;
}
.input_money{
    text-align:right;
}
/*見積伝票入力-見積日入力BOXの高さをほかの入力BOXと合わせる*/
.regist_date{
    height:30px;
}
/**********************
画面共通
***********************/
/* 表タイトル幅合わせ */
.detail_title{
    background-color:#f5f5f5;
    text-align:center;
}
/*表テーブル文字位置変更*/
.contents_box_center{
    text-align:center;
}
.contents_box_right{
    text-align:right;
}
.contents_box_left{
    text-align:left;
}

/**********************
得意先選択画面
***********************/
/* 表タイトル幅合わせ */
.cus_select_detail_title1{
    width:5%;
    background-color:#f5f5f5;
    text-align:center;
}
.cus_select_detail_title2{
    width:1%;
    background-color:#f5f5f5;
    text-align:center;
}
/*検索条件*/
.cus_list_box1{
    width:70%;
    float:left;
}
.cus_list_box2{
    width:10%;
    margin:0 0 0 0%;
    float:right;
}

/**********************
見積一覧
***********************/
/*ナビゲーション*/
.nav_style_height{
    height:60px;
}
/*表テーブル下のマージンを削除*/
.estimate_list{
    margin-bottom:0;
}
.estimate_list th{
    border: solid 1px #cbcbcb;
}
.estimate_list td{
    border: solid 1px #cbcbcb;
}

/* 表タイトル幅合わせ */
.estimate_detail_title1{
    width:5%;
    background-color:#f5f5f5;
}
.estimate_detail_title2{
    width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title3{
    width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title4{
    width:10%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title5{
    width:7%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title6{
    width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title7{
    width:5%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title8{
     width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title9{
    width:5%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title10{
    width:5%;
    background-color:#f5f5f5;
    text-align:center;
}
.estimate_detail_title11{
    width:15%;
    background-color:#f5f5f5;
    text-align:center;
}
/*表テーブル文字位置変更*/
.estimate_contents_box1{
    text-align:left;
    vertical-align: middle;
}
.estimate_contents_box4{
    text-align:right;
    vertical-align: middle;
}
.estimate_contents_box7{
    text-align:center;
    vertical-align: middle;
}
/*検索条件*/
.estimates_list_box1{
    width:70%;
    float:left;
}
.estimates_list_box2{
    width:30%;
    margin:0 0 0 0%;
    float:left;
}
/*検索条件-表の高さ合わせ-ボタン位置と合わせたい為*/
.estimates_list_height_box{
    height:51px;
}
/*検索条件-ボタンが含まれるテーブルの線色andボタンサイズを変更*/
.border-color-style{
    border-color:#fff;
}
.btn_list_mstyle1{
    margin-left:30px;
    width:56px;
}
.btn_list_mstyle2{
    margin-left:10px;
}
/*検索条件-状態and担当者名and見積noの入力欄の幅を変更*/
.estimates_date{
    width:60%;
}
.estimates_status{
    width:30%;
}
.estimates_person{
    width:30%;
}
.estimates_no{
    width:30%;
}
.estimate { 
    background-color:#5cb85c; 
    color: #fff; 
} 
.orders { 
    background-color:#337ab7; 
    color: #fff; 
} 
.delivery { 
    background-color:#f0ad4e; 
    color: #fff; 
} 
.claim{
    background-color:#5bc0de; 
    color: #fff; 
}

.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>th, 
.table>caption+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>td, 
.table>thead:first-child>tr:first-child>td {
    border: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #ddd;
  border-left: 1px solid #ddd;
}

