/* customize admin css */
/* ime-mode for ie */
.ja {
	ime-mode: active;
}

.en {
	ime-mode: inactive;
}

/* icon */
.form-required::after {
	content: '必須';
	display: inline-block;
	padding: 4px 6px;
	margin: 0 0 0 8px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #d43f3a;
	border-radius: 4px;
	color: #fff;
	background: #d9534f none;
}

/* date picker */
.input-group.date input[readonly] {
	/*background: transparent;*/
}

.input-group.date input {
	min-width: 9em;
}